<!-- EAEAFF is light blue -->
<!-- 2B3856 is dark blue -->
<!-- FFFFF7 is cream -->

<style type="text/css"> 
/*This is a comment*/

.spacebelow {
     margin-bottom: 8;
  }

header{
  font: 25pt copperplate;
  color: #FFFFF7;
  color: #334455;
  background-color: #FFFFFF; 
  box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
  padding: 0 20px;
  margin: 0px 0px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;
}

img{border-radius: 0px;}

table{
  font: 13pt arial;
  color: #334455;
  background-color: #FFFFF7; 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0px 20px;
  border-radius: 0px;  
  list-style: none;
  position: relative;
  display: inline-table;
}

body 
{
  color: #000;
  background-color: #2B3856;
  background-color: #FFFFFF;
  padding: 1.5em;
  margin: 0;
  font: 13pt Arial;
  
}

h1
{
  margin: 8px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	background-color: #334455; 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 0px;  
	list-style: none;
	position: relative;
        z-index: 1;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}


nav ul li {
	float: left;
}
	nav ul li a {
		color: #FFFFF7;
	}
	nav ul li:hover {
		background: #FFFFFF;
	}
		nav ul li:hover a {
			color: #334455;
		}
	
	nav ul li a {
		display: block; padding: 10px 25px;
		color: #red; text-decoration: none;
	}

nav ul ul {
	background: #FFFFFF; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #334455;
		border-bottom: 1px solid #334455;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #gold;
		}	
			nav ul ul li a:hover {
				background: #FFFFF7;
			}



</style>
<!--
     FILE ARCHIVED ON 21:40:39 Dec 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:48:47 Jan 28, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.937
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.024
  esindex: 0.015
  cdx.remote: 58.23
  LoadShardBlock: 512.328 (3)
  PetaboxLoader3.datanode: 347.159 (5)
  PetaboxLoader3.resolve: 704.317 (4)
  load_resource: 580.729 (2)
-->